@use "sass:math";
@import "bootstrap/scss/variables";

.placeholder {
  cursor: default;
}

.calendar-table {
  text-align: center;
  line-height: 2.5em;

  td {
    width: percentage(math.div(1, 7));
  }
}

.comment-box {
  padding: 10px 30px;
  margin: 5px 0;

  .comment-footer {
    text-align: right;
  }

  hr {
    margin: 0.5rem 0;
  }
}