/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.content {
  font-family: Arial, serif;
  padding: 0 10%;
}

.entity-table {
  width: 100%;
  text-align: left;
}

.calendar {
  width: 20%;

  .calendar-header {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;

    .calendar-title {
      display: inline-block;
      width: 80%;
    }

    .calendar-btn {
      display: inline-block;
      width: 10%;
      font-family: monospace;
      text-decoration: none;
    }
  }

  .calendar-content {
    table {
      table-layout: fixed;
      width: 100%;
      border-collapse: collapse;

      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        width: 100 / 7;
        height: 2em;
        text-align: center;
      }

      .calendar-today {
        background: lightskyblue;
      }
    }
  }
}