@import "bootstrap/scss/variables";

$navigation-height: 70px;
$sidebar-width: 280px;

#navigation {
  .navbar-brand {
    font-size: 1.5em;
  }
}

#sidebar {
  width: $sidebar-width;
  height: 100vh;
  margin-top: $navigation-height !important;

  .submenu {
    list-style-type: none;
  }

  #usermenu {
    margin-bottom: $navigation-height !important;
  }
}

#content {
  .page-title {
    padding: 20px 0;
  }

  margin-top: $navigation-height + 15px !important;
}

.sidebar-offset {
  margin-left: $sidebar-width !important;
}